.hideScroll::-webkit-scrollbar {
  display: none !important;
}

@keyframes light-mode {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}

.animate-light-mode {
  animation-name: light-mode;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes dark-mode {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animate-dark-mode {
  animation-name: dark-mode;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Cibler la barre de défilement principale */

::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
  height: 6px; /* Nouvelle hauteur de la barre de défilement */
}

/* Cibler le curseur de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #44554f; /* Couleur du curseur */
  border-radius: 5px;
}

/* Cibler la piste de la barre de défilement */
::-webkit-scrollbar-track {
  background-color: #04100c; /* Couleur de la piste */
}
